.container {
  background-image: url("./img/background\ 1.png");
  background-repeat: no-repeat;
  background-size: 100;
  max-width: 1366px;
  max-height: 768px;
  font-family: "Roboto";
  font-weight: 400;
  margin-left: auto;
  margin-right: auto;
}

.header {
  margin-bottom: 26px;
  margin-top: 46px;
  display: flex;
  justify-content: space-between;
}

.logo-link {
  display: block;
  width: 173px;
  height: 47px;
  margin: 0 auto 20px;
  background: url("./img/logo\ 1.png") 0 0 no-repeat;
  background-size: 53px 47px;
  font-weight: 700;
  font-size: 29px;
  line-height: 29px;
  color: #ffffff;
}

.logo-link h2 {
  position: relative;
  left: 61px;
  bottom: 5px;
}

.logo-link:hover {
  background: url("./img/logo\ 2.png") 0 0 no-repeat;
  color: #f26522;
}

.details {
  justify-self: flex-end;
}
.email {
  color: #ffffff;
}
.phone {
  margin-top: 19px;
  color: #ffffff;
}
.email:hover, .phone:hover {
  color: #f26522;  
}
.main {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  column-gap: 230px;
}
.card-img-one {
  display: block;
  background-image: url("./img/image\ 1.png");
  width: 300px;
  height: 220px;
  margin-bottom: 20px;
}

.link {
  margin-bottom: 37px;
}

.card-img-text {
  display: none;
  width: 300px;
  height: 55px;
  font-size: 10px;
  line-height: 10px;
  color: #ffffff;
  background-color: #f26522;
  position: relative;
  top: 165px;
}

.input-one {
  position: absolute;
  left: 16px;
  top: 7px;
}

.input-two {
  font-size: 20px;
  line-height: 20px;
  position: relative;
  left: 16px;
  top: 29px;
}
.input-three {
  font-size: 14px;
  line-height: 14px;
  position: absolute;
  bottom: 12px;
  right: 37px;
}

.card-img-title {
  color: #ffffff;
}

.input-three::after {
  content: url(./img/Vector\ 1.png);
  position: relative;
  left: 16px;
}

a:hover .card-img-text {
  display: inline-block;
  transition: 0.3s;
}
a:hover .card-img-title {
  color: #f26522;
  transition: 0.3s;
}
.card-img-two {
  display: block;
  background-image: url("./img/image\ 2.png");
  width: 300px;
  height: 220px;
  margin-bottom: 20px;
}
.card-img-three {
  display: block;
  background-image: url("./img/image\ 3.png");
  width: 300px;
  height: 220px;
  margin-bottom: 20px;
}
.card-img-four {
  display: block;
  background-image: url("./img/image\ 4.png");
  width: 300px;
  height: 220px;
  margin-bottom: 20px;
}
.card-img-five {
  display: block;
  background-image: url("./img/image\ 5.png");
  width: 300px;
  height: 220px;
  margin-bottom: 20px;
}
.card-img-six {
  display: block;
  background-image: url("./img/image\ 6.png");
  width: 300px;
  height: 220px;
  margin-bottom: 20px;
}
.footer {
  font-size: 12px;
  line-height: 12px;
  letter-spacing: 0px;
  text-align: center;
  color: #ffffff;
  padding-bottom: 15px;
  margin-top: 49px;
}
