.image-to-show {
  width: 400px;
  height: 400px;
}

.images-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
button {
  margin: 30px 10px;
  border: none;
  border-radius: 20px;
  min-width: 70px;
  padding: 20px;
  color: #fff;
  font-size: 14px;
  background-color: #000000;
  cursor: pointer;
}
