* {
  font-family: "Montserrat";
}

.page-header-navigation {
  width: 1280px;
}

.page-header-menu {
  text-align: center;
}

.page-header-menu-link {
  display: inline;
  color: #ff0000;
  text-decoration: none;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 18px;
}

.page-header-menu-item {
  list-style: none;
  display: inline-block;
  margin-right: 72px;
  margin-top: 25.5px;
  margin-bottom: 25.5px;
}
.navigation-image {
  width: 1280px;
  height: 789px;
}
.page-main {
  width: 774px;
  margin-top: 48px;
  margin-bottom: 38px;
  font-weight: 700;
  font-style: normal;
  font-size: 22px;
  line-height: 27px;
  letter-spacing: 3.3px;
  text-transform: uppercase;
  text-align: center;
  padding-left: 253px;
}
.page-main-text {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 2.4px;
  text-align: center;
  margin-left: 67.5px;
  width: 1145px;
  margin-bottom: 66px;
}
.button {
  font-size: 12px;
  font-weight: 700;
  line-height: 12px;
  letter-spacing: 1.7999999523162842px;
  height: 51px;
  width: 191px;
  left: 544.5px;
  top: 557px;
  border-radius: 4px;
  text-transform: uppercase;
  color: #ffffff;
  background: #ff0000;
  border-radius: 4px;
  border: 0;
  margin-bottom: 82px;
  margin-left: 544.5px;
}
.footer {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 2.4px;
  margin-bottom: 29px;
  margin-left: 713px;
}
