@import "reset";
@import "mixin";
@import "_variables";
@import "tablet-size";
@import "pc-size";

.container {
  font-family: "Roboto";
  width: 85vw;
  margin: 0 auto;
}

.invisible {
  display: none;
}

a {
  text-decoration: none;
}

.navigation {
  @include flex-column;
  align-items: flex-end;

  &__list {
    min-width: 182px;
    background: #f5f5f5;
    position: absolute;
    top: 71px;
    right: 0;
    cursor: pointer;
    z-index: 3;
  }

  &__link {
    font-size: 11px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 1.1px;
    text-transform: uppercase;
    color: #4e4e4e;
    padding-left: 14px;
  }

  &__item {
    margin-bottom: 8px;
  }

  &__item:hover {
    background: #e5e5e5;
  }

  &__icon {
    color: #ffffff;
    background: #000000;
    padding: 12px;
    cursor: pointer;
    position: absolute;
    top: 23px;
  }
}

.header-image img {
  max-height: 150px;
  width: 100%;
  margin-top: 23px;
  margin-bottom: 38px;
  padding-top: 71px;
}

.section-title {
  font-size: 14px;
  font-weight: 700;
  line-height: 22px;
  text-transform: uppercase;
  color: $title-color;
  margin-bottom: 23px;
}

.recent-posts {
  &-title {
    font-weight: 700;
    font-size: 14px;
    line-height: 30px;
    color: $title-color;
  }

  &-description {
    font-weight: 400;
    font-size: 11px;
    line-height: 20px;
    color: #7c7c7c;
  }

  &__item img {
    margin-bottom: 11px;
  }

  &__item:not(:first-child) {
    margin-top: 28.5px;
  }

  &-text {
    font-size: 14px;
    font-weight: 400;
    line-height: 26px;
    color: #5c5c5c;
    max-width: 404px;
  }
}

.instagram {
  margin-top: 77.5px;

  &-header {
    display: flex;
    justify-content: space-between;
  }

  &-title {
    margin-bottom: 13px;
    font-size: 16px;
  }
  &-second-title {
    font-size: 13px;
  }
  &_images {
    display: flex;
  }
  img {
    height: 301px;
    width: 301px;
  }
}

.footer {
  margin-top: 42px;
  padding: 38px 0 47px;
  background: $footer-bckgr-color;
  text-align: center;

  &-title {
    color: #fefefe;
    padding-bottom: 8px;
  }

  &-description {
    width: 90%;
    font-size: 12px;
    font-weight: 400;
    line-height: 20px;
    color: $footer-text-color;
    padding-bottom: 26px;
    margin-left: 15px;
  }

  &_hidden-description {
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
  }

  &-details {
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    padding-top: 25px;
    color: $footer-text-color;
  }
}
