@import "_mixin";

@media screen and (min-width: 1200px) {
  .navigation {
    align-items: center;

    &__icon {
      display: none;
    }
    &__list {
      background: rgba(0, 0, 0, 0.0001);
      position: relative;
      display: flex;
      flex-direction: row;
      top: 45px;
    }
    &__item:not(:last-child) {
      margin-right: 68px;
    }
    &__link {
      padding: 0;
    }
    &__item:hover {
      background: rgba(0, 0, 0, 0.0001);
    }
  }

  .header-image img {
    min-height: 550px;
    margin: 63px 0 66px;
    padding: 0;
  }

  .recent-posts {
    &-description {
      margin-bottom: 13px;
    }
    &__item {
      display: flex;
    }
    &__item img {
      margin-right: 21px;
    }
    &__parent {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: baseline;
    }
  }
  .section-title {
    margin-bottom: 0;
  }

  .instagram {
    margin-top: 107px;

    &-image img {
      max-height: 0;
      min-height: 285px;
      width: 100%;
      min-width: 285px;
    }

    &_images {
      display: flex;
      justify-content: space-between;
    }

    &-header {
      margin-bottom: 24px;
    }
  }

  .footer {
    padding: 57px 0 56px;
    width: 100%;

    &-description {
      font-size: 16px;
      font-weight: 400;
      line-height: 28px;
      padding-bottom: 37px;
    }
    &-details {
      @include flex-center;
      padding-top: 34px;
    }
    &-title {
      padding-bottom: 22px;
    }
  }
}
