@import "_mixin";

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .navigation {
    align-items: center;

    &__icon {
      display: none;
    }
    &__list {
      background: rgba(0, 0, 0, 0.0001);
      position: relative;
      display: flex;
      flex-direction: row;
      top: 41px;
    }
    &__item:not(:last-child) {
      margin-right: 34px;
    }
    &__link {
      padding: 0;
    }
    &__item:hover {
      background: rgba(0, 0, 0, 0.0001);
    }
  }
  .header-image img {
    min-height: 361px;
    margin: 55px 0 56px;
    padding: 0;
  }
  .recent-posts {
    &-description {
      margin-bottom: 13px;
    }
    &__item:not(:last-child) {
      margin-bottom: 32px;
    }
    &__item {
      display: flex;
    }
    &__item img {
      margin-right: 21px;
    }
  }
  .instagram {
    margin-top: 116px;

    &-image img {
      max-height: 230px;
      width: 100%;
    }
    &-image {
      margin-right: 9px;
    }
    &_images {
      display: flex;
      justify-content: space-between;
    }
  }

  .footer {
    padding: 57px 0 56px;
    width: 100%;

    &-description {
      font-size: 16px;
      font-weight: 400;
      line-height: 28px;
      padding-bottom: 37px;
    }
    &-details {
      @include flex-center;
      padding-top: 34px;
    }
    &-title {
      padding-bottom: 22px;
    }
  }
}
