body {
  background-image: url("./img/background.png");
  background-repeat: no-repeat;
  background-size: 100%;
  font-family: "Ubuntu";
  font-weight: 400;
}
.header {
  background-color: rgba(0, 0, 0, 0.4);
  /* height: 100vh;*/
  height: 100px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.logo {
  font-weight: 700;
  font-size: 22px;
  line-height: 22px;
  color: #ffffff;
}
.logo:hover {
  color: green;
  transition: 0.3s;
  cursor: pointer;
}

.right-side {
  display: flex;
  align-items: center;
  align-content: center;
}

.welcome {
  color: #ffffff;
  font-size: 14px;
  line-height: 14px;
  margin-right: 79px;
  border-left: 1px solid rgba(255, 255, 255, 0.5);
  padding-left: 27px;
}

.welcome span:hover {
  color: green;
  cursor: pointer;
}

.right-side img {
  margin-right: 25px;
}

.right-side img:hover {
  fill: #01813f;
  cursor: pointer;
}
.form {
  margin: auto;
  background: #ffffff;
  max-width: 444px;
  height: 584px;
  box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.52);
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.form svg {
  position: relative;
  left: 0px;
  top: 48px;
}

input,
button {
  box-sizing: border-box;
}
.form-header {
  display: flex;
  justify-content: space-around;
  margin-top: 31px;
  margin-bottom: 13px;
}
#signup {
  font-size: 20px;
  line-height: 20px;
}
#login {
  font-size: 14px;
  line-height: 14px;
  color: #3cb878;
}
#login:hover {
  color: #01813f;
  text-decoration: underline;
  cursor: pointer;
}
.buttons {
  display: flex;
  justify-content: center;
}
button {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
}
.media {
  color: #ffffff;
  width: 160px;
  height: 48px;
  font-size: 16px;
  line-height: 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  display: flex;
  align-items: center;
  align-content: center;
}
.facebook {
  background-color: #305db8;
  margin-right: 8px;
}
.facebook:hover {
  background-color: #022263;
  transition: 0.3s;
}
.fb-img {
  border-right: 1px solid rgba(10, 22, 47, 0.1);
  padding-right: 19px;
  margin-right: 38px;
}
.google-img {
  border-right: 1px solid rgba(10, 22, 47, 0.1);
  padding-right: 7px;
  margin-right: 38px;
}

.google {
  background-color: #df4a32;
}
.google:hover {
  background-color: #ab1f09;
  transition: 0.3s;
}
.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
}

.main p {
  color: rgba(132, 132, 132, 1);
  margin-top: 32px;
  margin-bottom: 11px;
}

input:not([type="checkbox"]) {
  width: 322px;
  height: 44px;
  margin-bottom: 15px;
  border: 1px;
  border-radius: 4px solid #000000 21%;
}
.checkbox {
  position: relative;
  margin-bottom: 20px;
}
.checkbox_input {
  appearance: none;
  position: absolute;
}
.checkbox_label {
  font-family: inherit;
  font-size: 14px;
  font-weight: inherit;
  line-height: 14px;
  padding-left: 25px;
}

.checkbox_label::before {
  content: "";
  display: block;
  width: 20px;
  height: 20px;
  border: 1px solid #f2f2f2;
  background-color: rgba(0, 0, 0, 0.0001);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}
.checkbox_label::after {
  content: "";
  display: block;
  width: 14px;
  height: 13.5px;
  background: url(./img/Vector\ 3.svg) no-repeat;
  background-size: 14px 13.5px;
  opacity: 0;
  position: absolute;
  top: 3px;
  left: 3px;
  z-index: 2;
}
.checkbox_input:checked + .checkbox_label::after {
  opacity: 1;
}

label:hover {
  cursor: pointer;
}
label {
  margin-bottom: 20px;
}
.checkbox:hover {
  cursor: pointer;
}
.terms {
  color: #3cb878;
}
.terms:hover {
  color: #01813f;
  text-decoration: underline;
  cursor: pointer;
}
.submit {
  background-color: rgba(60, 184, 120, 0.8);
  color: #ffffff;
  font-size: 16px;
  line-height: 16px;
  border-radius: 4px;
  cursor: pointer;
}

.submit:hover {
  background-color: #01813f;
  transition: 0.3s;
}

input:not([type="checkbox"]):focus {
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.21);
}
::placeholder {
  color: rgba(190, 190, 190, 1);
  font-family: "Ubuntu";
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;
}
.main:not([type="checkbox"]) input {
  padding-left: 20px;
}
