.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

  .modal {
    color: white;
    background-color: #dc4f36;
    border-radius: 5px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
    width: 400px;
    font-size: small;

    .modal-header {
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      font-size: 18px;
      font-weight: bold;
      margin-bottom: 10px;
      background-color: #BB332D;
      padding: 10px;
      border-radius: 5px 5px 0 0;
    }

    .modal-close {
      cursor: pointer;
    }

    .modal-content {
      padding-top: 10px;
    }

    .modal-actions {
      display: flex;
      justify-content: center;

      button {
        margin: 20px 10px;
        border: none;
      }
    }
  }
}
