body {
  font-family: "Montserrat";
  min-width: 1200px;
}

.container {
  width: 1160px;
  margin: auto;
}

.header {
  display: flex;
  justify-content: space-evenly;
  background: rgba(94, 93, 88, 0.6);
  max-width: 100%;
  align-items: center;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
}

#first-page {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 8px;
  background-image: url("./img/background\ 1.png");
  background-size: 100vw;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}

.header-label {
  /* левая часть хедера, the */
  display: flex;
  font-weight: 400;
  font-size: 32px;
  color: #ffffff;
  align-items: center;
  cursor: pointer;
}

#polygon {
  max-height: 67px;
  max-width: 58px;
  margin: 26px 0 27px;
}

#label {
  font-weight: 700;
  text-align: center;
  border-radius: 0px;
  max-height: 31px;
  max-width: 31px;
  margin-right: -18px;
  position: relative;
  right: 21%;
}

#label-text {
  /* Ham */
  font-weight: 700;
  color: #18cfab;
}

.header-navbar-list {
  display: flex;
}
.header-navbar-list-item a {
  margin-right: 21.09px;
  padding-bottom: 49px;
  cursor: pointer;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  align-items: center;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.6);
}

.header-navbar-list-item:hover a {
  color: #18cfab;
  border-bottom: 2px solid #18cfab;
}

.header-navbar-list-item img:hover {
  cursor: pointer;
}

.header-navbar-list-item img {
  min-height: 15px;
  max-width: 15px;
}

.first-page-content {
  display: flex;
  flex-direction: column;
  color: #ffffff;
  font-weight: 700;
  text-transform: uppercase;
  align-items: center;
}

.first-page-content-one {
  font-size: 35px;
  display: flex;
  margin-bottom: 22px;
}

.first-page-content-one p {
  color: rgba(24, 207, 171, 1);
}

.first-page-content-two {
  font-size: 78px;
  margin-bottom: 22px;
}

.first-page-content-three {
  font-weight: 400;
  text-transform: none;
  font-size: 34px;
  color: #d4d4d4;
}

.first-page-btns {
  font-size: 15px;
  text-align: center;
  position: relative;
  top: 129px;
}

.greenbtn {
  font-weight: 700;
  margin: 0 26px 0 0;
  color: #ffffff;
  line-height: 32px;
  background: #18cfab;
  min-width: 169px;
  min-height: 63px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  outline: none;
  box-shadow: 0 -5px;
  text-transform: uppercase;
}

#bluebtn {
  font-weight: 700;
  line-height: 32px;
  color: #ffffff;
  min-width: 168px;
  min-height: 64px;
  background: #00cbf6;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  outline: none;
  box-shadow: 0 -5px;
}

#rectangles {
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: center;
  box-shadow: 0 -8px;
  color: #ffffff;
  margin-bottom: 8px;
}

.rectangles-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  line-height: 24px;
  font-size: 20px;
  text-transform: uppercase;
  font-weight: 700;
}

.dark-rectangle {
  color: rgba(24, 207, 171, 1);
  background: #1c2a33;
  padding-top: 85px;
  height: 292px;
  width: 482px;
}

.light-rectangle {
  color: #ffffff;
  background: #18cfab;
  padding-top: 85px;
  height: 292px;
  width: 482px;
}

.dark-rectangle img {
  max-width: 60px;
  max-height: 97px;
  margin-bottom: 48px;
}

.light-rectangle img {
  max-width: 99px;
  max-height: 76px;
  margin-bottom: 58px;
}

#second-page {
  background: #ffffff;
}

.our-services h2 {
  margin-bottom: 101px;
  margin-top: 83px;
}

.page-title {
  position: relative;
  text-align: center;
  font-size: 36px;
  font-weight: 400;
  line-height: 40px;
  color: #4e4e4e;
}

.our-services-list {
  display: flex;
  flex-direction: row;
}

.our-services-list-item {
  font-size: 16px;
  font-weight: 400;
  line-height: 39px;
  color: rgba(113, 113, 113, 1);
  min-height: 72px;
  min-width: 194px;
  margin-right: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: unset;
  cursor: pointer;
  border: 1.5px solid white;
}

.our-services-list-item:hover {
  border: 1.5px solid rgba(24, 207, 171, 1);
}

.our-services-content-item {
  color: rgba(119, 119, 119, 1);
  font-size: 14px;
  font-weight: 300;
  line-height: 24px;
  text-align: left;
  display: flex;
  margin-top: 28px;
}

.our-services-content-item img {
  height: 139px;
  width: 192px;
  margin-right: 15px;
}

.our-services-content-item li {
  list-style: inside;
}

.active {
  background: #18cfab;
  color: #ffffff;
}

.invisible {
  display: none;
}

[data-tab="0"]::after {
  display: none;
  content: url("./img/Our\ Services\ -Rectangle\ 60.png");
  position: relative;
  width: 27px;
  height: 15px;
  right: 40px;
  top: 30px;
}

[data-tab="1"]::after {
  display: none;
  content: url("./img/Our\ Services\ -Rectangle\ 60.png");
  position: relative;
  width: 27px;
  height: 15px;
  right: 55px;
  top: 30px;
}

[data-tab="2"]::after {
  display: none;
  content: url("./img/Our\ Services\ -Rectangle\ 60.png");
  position: relative;
  width: 27px;
  height: 15px;
  right: 55px;
  top: 30px;
}

[data-tab="3"]::after {
  display: none;
  content: url("./img/Our\ Services\ -Rectangle\ 60.png");
  position: relative;
  width: 27px;
  height: 15px;
  right: 40px;
  top: 30px;
}

[data-tab="4"]::after {
  display: none;
  content: url("./img/Our\ Services\ -Rectangle\ 60.png");
  position: relative;
  width: 27px;
  height: 15px;
  right: 65px;
  top: 30px;
}

[data-tab="5"]::after {
  display: none;
  content: url("./img/Our\ Services\ -Rectangle\ 60.png");
  position: relative;
  width: 27px;
  height: 15px;
  right: 40px;
  top: 30px;
}

.active::after {
  display: block;
}

.second-page-footer {
  background: url("./img/background\ 2.png");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 91px;
  margin-bottom: 0;
  min-height: 476px;
  text-align: center;
  display: flex;
  background-color: #e9edef;
}

.second-page-footer h2 {
  color: #18cfab;
  font-size: 40px;
  font-weight: 700;
  line-height: 40px;
  margin-bottom: 13px;
  text-transform: uppercase;
  padding-top: 127px;
}

.second-page-footer p {
  color: #d8d8d8;
  font-size: 16px;
  font-weight: 400;
  line-height: 40px;
}

.second-page-footer button {
  margin-top: 62px;
  margin-bottom: 127px;
}

/* .third-page */

.third-page-content {
  background: #e9edef;
  padding-bottom: 99px;
}

.third-page-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.third-page-content h2 {
  padding: 50px 0 97px;
}

.page-title div {
  position: relative;
}

.line-first {
  position: absolute;
  left: 46%;
  margin-top: 26px;
}

.line-first-another {
  position: absolute;
  bottom: 12px;
  left: 35%;
}

.line-second {
  position: relative;
  margin-top: 28px;
}

.third-page-filter {
  display: flex;
  justify-content: center;
  padding-bottom: 71px;
}

.third-page-filter-item {
  font-size: 14px;
  font-weight: 400;
  line-height: 42px;
  color: #717171;
  border: 1px solid #dadada;
  padding: 14px 15px 13px;
  cursor: pointer;
}

.third-page-filter-item:first-child {
  padding-left: 27px;
  padding-right: 28px;
}

.third-page-filter-item:hover {
  color: #18cfab;
  border: 2px solid #18cfab;
  transition: 0.3s;
}

.active-tab {
  color: #18cfab;
  border: 2px solid #18cfab;
  transition: 0.3s;
}

.pictures-grid {
  display: grid;
  gap: 1px;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.pictures-grid div {
  display: flex;
}

.card {
  max-height: 211px;
  max-width: 285px;
  position: relative;
  perspective: 1000px;
}

.front,
.back {
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.back {
  display: none;
  transform: rotateY(180deg);
  height: 209px;
  width: 285px;
  text-align: center;
  border-top: 2px solid #18cfab;
  color: #18cfab;
}

.back img {
  margin-top: 48px;
  height: 43px;
  width: 88px;
}

.back h3 {
  font-size: 14px;
  font-weight: 700;
  line-height: 25px;
  text-transform: uppercase;
  margin-top: 24px;
}

.back p {
  font-size: 12px;
  font-weight: 300;
  line-height: 25px;
  color: #8a8a8a;
}

.card:hover .front {
  transform: rotateY(180deg);
  display: none;
}
.card:hover .back {
  transform: rotateY(360deg);
  display: block;
}

.third-page-content button {
  font-family: inherit;
  text-align: center;
  background: #18cfab;
  text-transform: uppercase;
  color: #ffffff;
  font-weight: 700;
  font-size: 14px;
  line-height: 42px;
  outline: none;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  min-height: 63px;
  width: 168px;
  margin-top: 70px;
}

.third-page-content button::before {
  content: url("./img/Forma\ 1.png");
  margin-right: 15px;
  margin-left: 23px;
}

/*#fourth-page {}*/

.fourth-title {
  padding-top: 82px;
  padding-bottom: 100px;
}

.fourth-page-content {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin-bottom: 129px;
}

.fourth-page-content-link {
  height: 208px;
  position: relative;
}

.fourth-page-content-div {
  max-width: 263px;
  cursor: pointer;
}

.div-one {
  background: url("./img/1.png");
  background-repeat: no-repeat;
}

.fourth-page-content-link img {
  position: absolute;
  right: 0px;
}

.fourth-page-content-div:hover .fourth-page-content-link img {
  content: url("./img/Date-hover.png");
}

.fourth-page-card-name {
  font-size: 18px;
  font-weight: 700;
  line-height: 39px;
  margin-left: 20px;
  color: #717171;
}

.fourth-page-content-div:hover .fourth-page-card-name {
  color: #18cfab;
}

.fourth-page-content-div span {
  font-size: 14px;
  font-weight: 300;
  line-height: 39px;
  color: #777777;
  margin-left: 20px;
}

.frstspan {
  margin-right: -10px;
  border-right: 0.5px solid rgba(119, 119, 119, 0.5);
  padding-right: 15px;
}

.div-two {
  background: url("./img/2.png");
}

.div-three {
  background: url("./img/3.png");
}

.div-four {
  background: url("./img/4.png");
}

.div-five {
  background: url("./img/5.png");
  margin-top: 44px;
}

.div-six {
  background: url("./img/6.png");
  margin-top: 44px;
}

.div-seven {
  background: url("./img/7.png");
  margin-top: 44px;
}

.div-eight {
  background: url("./img/8.png");
  margin-top: 44px;
}

#fifth-page {
  background: url("./img/bckgr\ 3.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  text-align: center;
  padding-bottom: 98px;
}

.fifth-page-content {
  /* !!! */
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: nowrap;
  align-items: center;
}

.fifth-title {
  color: #ffffff;
  padding-top: 98px;
  padding-bottom: 99px;
}

.shape {
  height: 30px;
  width: 44px;
}

/* вставлено отсюда */

.feedback-text-container {
  width: 1160px;
  min-height: 397px;
  margin-top: 36px;
  margin-bottom: 38px;
  text-align: center;
  position: relative;
}

.feedback-text__wrap {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.feedback-text {
  max-height: 45px;
  margin-top: 36px;
  font-weight: 300;
  font-size: 16px;
  line-height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #bbbbbb;
}

.feedback-text__people-name {
  margin-top: 57px;
  margin-bottom: 13px;
  font-weight: 700;
  font-size: 16px;
  line-height: 27px;
  display: flex;
  align-items: center;
  flex-direction: column;
  flex-wrap: nowrap;
  text-align: center;
  text-transform: uppercase;
  color: #18cfab;
}

.feedback-text__people-work {
  font-weight: 300;
  font-size: 13px;
  line-height: 27px;
  text-transform: none;
  color: #bbbbbb;
}

.feedback-text__people-photo {
  min-height: 166px;
  min-width: 166px;
}

.feedback-text__item {
  opacity: 0;
  position: absolute;
  background: none;
}

.feedback-text__item.active {
  opacity: 1%;
  animation-name: show_feedback;
  animation-fill-mode: both;
}

@keyframes show_feedback {
  0% {
    opacity: 1%;
  }
  50% {
    opacity: 20%;
  }
  100% {
    opacity: 100%;
  }
}

.feedback-slider {
  width: fit-content;
  min-height: 70px;
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}

.feedback-slider__photo {
  min-width: 70px;
  min-height: 70px;
  margin: 0 10px;
  border: none;
  cursor: pointer;
  top: 0;
  transition: all ease 1000ms;
}

.feedback-slider__photo.active {
  background: none;
  margin-bottom: 35px;
  animation-name: show_slider-photo;
  animation-duration: 0.5s;
}

@keyframes show_slider-photo {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 40%;
  }
  100% {
    opacity: 100%;
  }
}

.feedback-slider__photo:hover {
  margin-bottom: 35px;
}

.feedback-slider__photo-wrap {
  max-width: 483px;
  min-height: 105px;
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 0 auto;
}

/* досюда */

.arrow {
  background: none;
  padding: 8px;
  border: 1px solid #bbbbbb;
  height: 31px;
  width: 31px;
}

.arrow:hover {
  background: #18cfab;
  cursor: pointer;
  transition: 0.3s;
}

.arrow img {
  position: relative;
  left: 2px;
}

.prev {
  margin-right: 30px;
}

.next {
  margin-left: 30px;
}

#sixth-page {
  background: rgba(0, 0, 0, 0.0001);
  margin-top: 13px;
  padding-top: 95px;
}

.grid {
  margin-top: 83px;
}

footer {
  background: #22353f;
  text-align: center;
  padding: 48px 0 47px 0;
}

#footer {
  font-size: 14px;
  font-weight: 300;
  line-height: 26px;
  color: #aeaeae;
}

#footer span {
  color: rgba(24, 207, 171, 1);
}
