.container {
  background-color: black;
  max-width: 1460px;
  margin-left: auto;
  margin-right: auto;
}

.header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 128px;
  margin-top: 37px;
}

.logo {
  width: 216px;
}
.link {
  border: 1px solid #e4b564;
  padding: 10px 25px;
}
.link-text {
  font-family: "Circe";
  font-size: 18px;
  font-weight: 400;
  color: #e4b564;
  text-decoration: none;
  margin-left: 10px;
}

.title {
  color: #ffffff;
  font-family: "Gilam";
  font-size: 50px;
  font-weight: 700;
}

.title-first-text {
  color: #ffffff;
  font-family: "Gilam";
  font-weight: 700;
  font-size: 20px;
  text-align: justify;
  margin-top: 41px;
}

.wrapper {
  font-family: "Gilam";
  font-weight: 700;
  font-size: 20px;
  color: #ffffff;
  margin-top: 41px;
  line-height: 28px;
  display: grid;
  text-align: center;
  grid-template-rows: repeat(2, 1f);
  grid-template-columns: repeat(6, 1fr);
  gap: 34px;
  grid-template-areas:
    "block_one block_one block_two block_two block_three block_three"
    "block_four block_four block_four block_five block_five block_five";
}

.wrapper-item {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 468px;
  padding: 40px;
  box-sizing: border-box;
}

.block_one {
  background-color: #634f2c;
  grid-area: block_one;
}
.block_two {
  background: #b4a385;
  grid-area: block_two;
}

.block_three {
  background: #e4b564;
  grid-area: block_three;
}

.block_four {
  background: #635a4a;
  grid-area: block_four;
}
.block_five {
  background: #b08c4d;
  grid-area: block_five;
}

.second-title {
  margin-top: 161px;
  margin-bottom: 94px;
}

.second-wrapper {
  font-family: "Gilam";
  font-size: 20px;
  font-weight: 400;
  line-height: 25px;
  color: #ffffff;
  box-sizing: border-box;
  margin-bottom: 191px;
  display: grid;
  grid-template-columns: 33.3% 33.3% 33.3%;
  grid-template-rows: repeat(10, 1fr);
  gap: 30px;
}

.second-wrapper-item {
  padding: 50px;
}

.box-one {
  background: #0e0e0e;
  min-height: 313px;
  grid-row: 1 / 5;
}

.box-two {
  background: #242424;
  min-height: 439px;
  grid-row: 1 / 6;
}

.box-three {
  background: #1f1f1f;
  min-height: 255px;
  grid-row: 1 / 4;
}

.box-four {
  background: #1f1f1f;
  min-height: 560px;
  grid-row: 5 / 11;
}

.box-five {
  background: #e4b564;
  color: #000000;
  min-height: 405px;
  grid-row: 6 / 11;
}

.box-six {
  background: #0e0e0e;
  min-height: 313px;
  grid-row: 4 / 8;
}

.box-seven {
  background: #0a0909;
  min-height: 277px;
  grid-row: 8 / 11;
}
.car-type {
  font-weight: 700;
  display: block;
}

.third-wrapper {
  background: #0E0E0E;
  padding-top: 172px;
}

.footer-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 72px;
}

.border {
  border: 1px solid #e4b564;
  padding: 10px 40px;
}

.last-grid-container {
  display: grid;
  justify-content: center;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
}

.third-wrapper-box {
  display: flex;
  justify-content: center;
  align-items: center;
}

.item-one {
  background-color: #634f2c;
  min-height: 391px;
}

.item-two {
  background-color: #e8d2abc2;
  max-height: 391px;
  font-family: "Gilam";
  font-size: 22px;
  line-height: 28px;
  color: #FFFFFF;
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.block-first-text {
  font-weight: 600;
  margin-top: 16px;
  max-width: 326px;
}

.block-second-text {
  font-weight: 400;
  max-width: 326px;
}

.item-three {
  background-color: #e4b564;
  max-height: 391px;
}

.item-four {
  background-color: #635a4a;
  max-height: 391px;
}

.item-five {
  background-color: #b08c4d;
  max-height: 391px;
}

.item-six {
  background: #634f2c;
  max-height: 391px;
}

.last {
  margin-top: 239px;
}