.container {
  max-width:1280px;
  margin: 0 auto;
  font-family: "Roboto";
  font-weight: 400;
}

.header {
  font-size: 80px;
  font-weight: 400;
  line-height: 94px;
  letter-spacing: 0px;
}
.link {
  text-decoration: none;
  margin-bottom: 40px;
}

.black {
  color: #000000;
}

.blue {
  color: #4bcaff;
}

.navigation {
  font-size: 24px;
  background-color: #35444f;
  border-radius: 0px;
  color: #ffffff;
  list-style-type: none;
  padding-left: 0;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.list-item-second {
height: 69px;
  border-left: 1px solid #ffffff;
  border-right: 1px solid #ffffff;
  align-self: center;
  padding-right: 40px;
  padding-left: 40px;
  padding-top: 24px;
}
.list-item-third {
  height: 69px;
  border-right: 1px solid #ffffff;
  align-self: center;
  padding-right: 40px;
  padding-top: 26px;
}
.list-item-fourth {
  height: 69px;
  border-right: 1px solid #ffffff;
  align-self: center;
  padding-right: 40px;
  padding-top: 24px;
}
.list-item-fifth {
 height: 69px;
  border-right: 1px solid #ffffff;
  align-self: center;
  padding-right: 40px;
  padding-top: 24px;
}

.aside {
  display: flex;
  justify-content: space-between;
  margin-top: 49px;
}
.left-menu {
  font-size: 27px;
  color: #485863;
  list-style-type: none;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  border: 1px solid #000000;
}
.left-menu-item {
  margin: 26px 82px 30px 44px;
}
.around_pic {
  max-width: 885px;
  max-height: 529px;
  margin-top: 49px;
}

.pic {
  max-width: 320px;
  max-height: 381px;
  border: 1px solid #000000;
  padding: 75px 268px 73px 297px;
}
.main {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-top: 27px;
}

.main-text {
  max-width: 885px;
  font-size: 18px;
 align-self: flex-end;
  text-align: justify;
}
.footer {
  margin-top: 54px;
  max-height: 69px;
  background-color: hsla(207, 5%, 41%, 0.48);
 display: flex;
  align-items: center;
  justify-content: space-between;
}
.footer-list {
  font-size: 28px;
  display: flex;
}

.footer-list-item-first {
  list-style-type: none;
}

.footer-list-item {
  list-style-type: none;
  margin-left: 40px;
}

.footer-end {
  font-size: 24px;
  margin-right: 40px;
}
