.password-form {
  display: flex;
  flex-direction: column;
}
.input-wrapper {
  position: relative;
  width: 200px;
}

.input-wrapper input {
  min-width: 120px;
  padding: 10px;
  margin: 10px 0 30px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.input-wrapper i {
  position: absolute;
  right: 25px;
  top: 40px;
  color: grey;
  cursor: pointer;
}

.btn {
  width: 150px;
  margin-top: 10px;
}

.errorText {
  color: red;
}

.fa-eye-slash {
  display: none;
}

button {
  background-color: #4caf50;
  color: white;
  min-height: 30px;
  cursor: pointer;
}

#message {
  display: none;
  color: red;
  position: relative;
}
